In [107]:
%load_ext autoreload
%autoreload 2

import numpy as np

from utilities.misc import *
from utilities.templates import * 
from utilities.circuit_database import CirqTranslater
from utilities.simplifier import Simplifier
translator = CirqTranslater(n_qubits = 3)
simplifier = Simplifier(translator)
uu = pd.read_csv("testing/data/sorting")
circuit_db = uu.drop(columns=["Unnamed: 0"])
circuit, circuit_db = translator.give_circuit(circuit_db)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [108]:
circuit

                                                                               ┌─────────┐
(0, 0): ───Rz(th_0)───Rx(th_3)──────────────────────────────────────────────────────────@────Rz(th_4)────Rz(th_9)────Rx(th_10)───Rz(th_11)───@───────────────
                                                                                        │                                                    │
(0, 1): ───Rx(th_1)───H──────────────X────────────────X───H────────────────X────Rz(th_8)┼────────────────────────────────────────────────────┼───────────────
                                     │                │                    │            │                                                    │
(0, 2): ───Rx(th_2)───Rz(th_5)───H───@───Ry(0.318π)───@───H───Ry(0.318π)───@────────────X────Rx(th_12)───Rz(th_13)───Rx(th_14)───────────────X───Rz(th_15)───
                                                                               └─────────┘

In [109]:
circuit_db

    ind symbol  param_value  trainable  block_id channel_param
0     6   th_0   -15.195752       True         0           NaN
1    10   th_1     9.424775       True         0           NaN
2    11   th_2    -3.702385       True         0           NaN
3     9   th_3    25.173183       True         0           NaN
4     8   th_5    -1.570797       True         0           NaN
5    16   None          NaN      False         1           NaN
6    17   None          NaN      False         1           NaN
7     5   None          NaN      False         1           NaN
8    14   th_6     1.000000      False         1          True
9     5   None          NaN      False         1           NaN
10   16   None          NaN      False         1           NaN
11   17   None          NaN      False         1           NaN
12   14   th_7     1.000000      False         1          True
13    5   None          NaN      False         1           NaN
14    7   th_8    -2.624780       True         2           NaN
15    1   None          NaN       True         2           NaN
16    6   th_4    43.483597       True         0           NaN
17    6   th_9     0.015630       True         2           NaN
18    9  th_10     0.036201       True         2           NaN
19    6  th_11     0.037199       True         2           NaN
20   11  th_12     0.035956       True         2           NaN
21    8  th_13     0.014017       True         2           NaN
22   11  th_14     0.059863       True         2           NaN
23    1   None          NaN       True         2           NaN
24    8  th_15     0.643943       True         2           NaN

In [112]:
def check_symbols_ordered(circuit_db):
    symbol_int = list(circuit_db["symbol"].dropna().apply(lambda x: int(x.replace("th_",""))))
    return symbol_int == sorted(symbol_int)

def label_symbols_to_positions(circuit_db):
    """
    it happens that when a circuit is simplified, symbol labels get unsorted. This method corrects that (respecting the ordering in the gates)
    """
    if check_symbols_ordered(circuit_db) is True:
        inns = circuit_db["symbol"].dropna().index
        filtered_db = circuit_db.loc[inns]["symbol"].astype(str)
        news = ["th_{}".format(k) for k in np.sort(list(circuit_db["symbol"].dropna().apply(lambda x: int(x.replace("th_","")))))]
        sss = pd.Series(news, index=inns)
        nans = circuit_db["symbol"][circuit_db["symbol"].isna()]
        ser = pd.concat([nans,sss])
        ser = ser.sort_index()
        circuit_db = circuit_db.drop(["symbol"], axis=1)
        circuit_db.insert(loc=1, column="symbol",value=ser)
    return circuit_db

In [130]:
check_symbols_ordered(label_symbols_to_positions(circuit_db))

True

In [115]:
ss = label_symbols_to_positions(circuit_db)

In [118]:
u1 = translator.give_circuit(ss, unresolved=False)[0].unitary()
u2 = translator.give_circuit(circuit_db, unresolved=False)[0].unitary()

In [120]:
u1-u2

array([[0.+0.j, 0.+0.j, 0.+0.j, 0.+0.j, 0.+0.j, 0.+0.j, 0.+0.j, 0.+0.j],
       [0.+0.j, 0.+0.j, 0.+0.j, 0.+0.j, 0.+0.j, 0.+0.j, 0.+0.j, 0.+0.j],
       [0.+0.j, 0.+0.j, 0.+0.j, 0.+0.j, 0.+0.j, 0.+0.j, 0.+0.j, 0.+0.j],
       [0.+0.j, 0.+0.j, 0.+0.j, 0.+0.j, 0.+0.j, 0.+0.j, 0.+0.j, 0.+0.j],
       [0.+0.j, 0.+0.j, 0.+0.j, 0.+0.j, 0.+0.j, 0.+0.j, 0.+0.j, 0.+0.j],
       [0.+0.j, 0.+0.j, 0.+0.j, 0.+0.j, 0.+0.j, 0.+0.j, 0.+0.j, 0.+0.j],
       [0.+0.j, 0.+0.j, 0.+0.j, 0.+0.j, 0.+0.j, 0.+0.j, 0.+0.j, 0.+0.j],
       [0.+0.j, 0.+0.j, 0.+0.j, 0.+0.j, 0.+0.j, 0.+0.j, 0.+0.j, 0.+0.j]])

In [121]:
ss

    ind symbol  param_value  trainable  block_id channel_param
0     6   th_0   -15.195752       True         0           NaN
1    10   th_1     9.424775       True         0           NaN
2    11   th_2    -3.702385       True         0           NaN
3     9   th_3    25.173183       True         0           NaN
4     8   th_4    -1.570797       True         0           NaN
5    16   None          NaN      False         1           NaN
6    17   None          NaN      False         1           NaN
7     5   None          NaN      False         1           NaN
8    14   th_5     1.000000      False         1          True
9     5   None          NaN      False         1           NaN
10   16   None          NaN      False         1           NaN
11   17   None          NaN      False         1           NaN
12   14   th_6     1.000000      False         1          True
13    5   None          NaN      False         1           NaN
14    7   th_7    -2.624780       True         2           NaN
15    1   None          NaN       True         2           NaN
16    6   th_8    43.483597       True         0           NaN
17    6   th_9     0.015630       True         2           NaN
18    9  th_10     0.036201       True         2           NaN
19    6  th_11     0.037199       True         2           NaN
20   11  th_12     0.035956       True         2           NaN
21    8  th_13     0.014017       True         2           NaN
22   11  th_14     0.059863       True         2           NaN
23    1   None          NaN       True         2           NaN
24    8  th_15     0.643943       True         2           NaN