In [1]:
%load_ext autoreload
%autoreload 2

import numpy as np
import cirq
import sympy
import pandas as pd
from utilities.templates import *
from utilities.circuit_database import CirqTranslater
from utilities.misc import *
from utilities.simplifier import Simplifier

In [2]:
translator = CirqTranslater(n_qubits=3)
simplifier = Simplifier(translator)
uu = pd.read_csv("testing/data/db1")
circuit_db = uu.drop(columns=["Unnamed: 0"])
circuit, circuit_db = translator.give_circuit(circuit_db, unresolved=False)
ss, simpli = circuit.copy(), circuit_db.copy()

In [3]:
circuit

                                                                                                                    ┌────────────┐
(0, 0): ───Rx(-0.327π)───Rz(-0.906π)───Rz(0)───Rx(0.017π)───Rz(0)────────Rz(1.91π)───Rx(-0.327π)────────────────────────────────@────Rz(0.005π)───Rx(0.012π)───Rz(0.012π)───@────────────────
                                                                                                                                │                                           │
(0, 1): ───Rx(-π)────────H─────────────────────X─────────────────────────X───────────H──────────────────────────X────Rz(-0.835π)┼───────────────────────────────────────────┼────────────────
                                               │                         │                                      │               │                                           │
(0, 2): ───Rx(-1.18π)────Rz(-0.5π)─────H───────@────────────Ry(0.318π)───@───────────H─────────────Ry(0.318π)───@───────────────X────Rx(0.011π)───Rz(0.004π)───Rx(0.019π)───X───Rz(0.205π)───
                                                                                                                    └────────────┘

In [4]:
gates_on_qubit, on_qubit_order = simplifier.get_positional_dbs(ss,simpli)
boolss, simpli = simplifier.rule_4(simpli, on_qubit_order, gates_on_qubit)
cc, sii = translator.give_circuit(simpli, unresolved=False)
print(boolss)
print(cc)

True
                                                                                                            ┌────────────┐
(0, 0): ───Rx(-0.327π)───Rz(-0.906π)───Rx(0.017π)───Rz(0)───Rz(1.91π)────Rx(-0.327π)────────────────────────────────────@────Rz(0.005π)───Rx(0.012π)───Rz(0.012π)───@────────────────
                                                                                                                        │                                           │
(0, 1): ───Rx(-π)────────H──────────────────────────X────────────────────X─────────────H────────────────X────Rz(-0.835π)┼───────────────────────────────────────────┼────────────────
                                                    │                    │                              │               │                                           │
(0, 2): ───Rx(-1.18π)────Rz(-0.5π)─────H────────────@───────Ry(0.318π)───@─────────────H───Ry(0.318π)───@───────────────X────Rx(0.011π)───Rz(0.004π)───Rx(0.019π)───X───Rz(0.205π)───
                                                                                                            └────────────┘

In [5]:
gates_on_qubit, on_qubit_order = simplifier.get_positional_dbs(ss,simpli)
boolss, simpli = simplifier.rule_4(simpli, on_qubit_order, gates_on_qubit)
cc, sii = translator.give_circuit(simpli, unresolved=False)
print(boolss)
print(cc)

True
                                                                                                       ┌────────────┐
(0, 0): ───Rx(-0.327π)───Rz(-0.906π)───Rx(0.017π)───Rz(1.91π)───Rx(-0.327π)────────────────────────────────────────@────Rz(0.005π)───Rx(0.012π)───Rz(0.012π)───@────────────────
                                                                                                                   │                                           │
(0, 1): ───Rx(-π)────────H──────────────────────────X─────────────────────────X───H────────────────X────Rz(-0.835π)┼───────────────────────────────────────────┼────────────────
                                                    │                         │                    │               │                                           │
(0, 2): ───Rx(-1.18π)────Rz(-0.5π)─────H────────────@───────────Ry(0.318π)────@───H───Ry(0.318π)───@───────────────X────Rx(0.011π)───Rz(0.004π)───Rx(0.019π)───X───Rz(0.205π)───
                                                                                                       └────────────┘

In [6]:
gates_on_qubit, on_qubit_order = simplifier.get_positional_dbs(ss,simpli)
boolss, simpli = simplifier.rule_4(simpli, on_qubit_order, gates_on_qubit)
cc, sii = translator.give_circuit(simpli, unresolved=False)
print(boolss)
print(cc)

False
                                                                                                       ┌────────────┐
(0, 0): ───Rx(-0.327π)───Rz(-0.906π)───Rx(0.017π)───Rz(1.91π)───Rx(-0.327π)────────────────────────────────────────@────Rz(0.005π)───Rx(0.012π)───Rz(0.012π)───@────────────────
                                                                                                                   │                                           │
(0, 1): ───Rx(-π)────────H──────────────────────────X─────────────────────────X───H────────────────X────Rz(-0.835π)┼───────────────────────────────────────────┼────────────────
                                                    │                         │                    │               │                                           │
(0, 2): ───Rx(-1.18π)────Rz(-0.5π)─────H────────────@───────────Ry(0.318π)────@───H───Ry(0.318π)───@───────────────X────Rx(0.011π)───Rz(0.004π)───Rx(0.019π)───X───Rz(0.205π)───
                                                                                                       └────────────┘

In [13]:
gates_on_qubit, on_qubit_order = simplifier.get_positional_dbs(ss,simpli)
boolss, simpli = simplifier.rule_5(simpli, on_qubit_order, gates_on_qubit)
cc, sii = translator.give_circuit(simpli, unresolved=False)
print(boolss)
print(cc)

False
                                                                                             ┌────────────┐
(0, 0): ───Rz(1.42π)────Rx(0.004π)───Rz(-0.417π)─────────────────────────────────────────────────────────@────Rz(0.005π)───Rx(0.012π)───Rz(0.012π)───@────────────────
                                                                                                         │                                           │
(0, 1): ───Rx(-π)───────H──────────────────────────X────────────────X───H────────────────X────Rz(-0.835π)┼───────────────────────────────────────────┼────────────────
                                                   │                │                    │               │                                           │
(0, 2): ───Rx(-1.18π)───Rz(-0.5π)────H─────────────@───Ry(0.318π)───@───H───Ry(0.318π)───@───────────────X────Rx(0.011π)───Rz(0.004π)───Rx(0.019π)───X───Rz(0.205π)───
                                                                                             └────────────┘

In [14]:
translator.give_circuit(sii, unresolved=True)[0]

                                                                                      ┌─────────┐
(0, 0): ───Rz(th_0)───Rx(th_3)───Rz(th_4)──────────────────────────────────────────────────────@────Rz(th_9)────Rx(th_10)───Rz(th_11)───@───────────────
                                                                                               │                                        │
(0, 1): ───Rx(th_1)───H─────────────────────X────────────────X───H────────────────X────Rz(th_8)┼────────────────────────────────────────┼───────────────
                                            │                │                    │            │                                        │
(0, 2): ───Rx(th_2)───Rz(th_5)───H──────────@───Ry(0.318π)───@───H───Ry(0.318π)───@────────────X────Rx(th_12)───Rz(th_13)───Rx(th_14)───X───Rz(th_15)───
                                                                                      └─────────┘

In [15]:
(sii.head(8)["param_value"] - 2*np.pi*np.round(sii.head(8)["param_value"]/(2*np.pi)).values)/np.pi

0   -0.578586
1    0.999999
2    0.821494
3    0.004081
4   -0.417077
5   -0.500000
6         NaN
7         NaN
Name: param_value, dtype: float64

OK!

In [16]:
gates_on_qubit, on_qubit_order = simplifier.get_positional_dbs(ss,simpli)
boolss, simpli = simplifier.rule_6(simpli, on_qubit_order, gates_on_qubit)
cc, sii = translator.give_circuit(simpli, unresolved=False)
print(boolss)
print(cc)

9 [6, 9, 6, 1, 6, 9, 6, 1] 0
6 [6, 9, 6, 1, 6, 9, 6, 1] 1
1 [6, 9, 6, 1, 6, 9, 6, 1] 2
6 [6, 9, 6, 1, 6, 9, 6, 1] 3
9 [6, 9, 6, 1, 6, 9, 6, 1] 4
6 [6, 9, 6, 1, 6, 9, 6, 1] 5
1 [6, 9, 6, 1, 6, 9, 6, 1] 6
True
                                                                                             ┌────────────┐
(0, 0): ───Rz(1.42π)────Rx(0.004π)───Rz(-0.417π)─────────────────────────────────────────────────────────@────Rz(0.005π)───Rx(0.012π)───@───Rz(0.012π)──────────────────────────────────────────
                                                                                                         │                              │
(0, 1): ───Rx(-π)───────H──────────────────────────X────────────────X───H────────────────X────Rz(-0.835π)┼──────────────────────────────┼───────────────────────────────────────────────────────
                                                   │                │                    │               │                              │
(0, 2): ───Rx(-1.18π)───Rz(-0.5π)────H─────────────@───Ry(0.318π)───@───H───Ry(0.318π)───@───────────────X──────────────────────────────X───Rx(0.011π)───Rz(0.004π)───Rx(0.019π)───Rz(0.205π)───
                                                                                             └────────────┘

18

In [309]:
len(u2(translator, 0,1))

[2, 4, 2, 3, 5, 3, 0, 2, 7, 1, 7, 0, 2, 4, 2, 3, 5, 3]

In [345]:
def g(c, ind):
    if check_rot(ind, translator) is True:
        return "th_{}".format(c)
    else:
        return None
    
def g2(c, ind):
    if check_rot(ind, translator) is True:
        return "th_{}".format(c+len(u2(translator, 0,1)))
    else:
        return None
    
def f(c, ind,p):
    if check_rot(ind, translator) is True:
        return p
    else:
        return None
    
u0 = pd.DataFrame([gate_template(ind, symbol=g(c,ind), param_value=f(c,ind,0)) for c,ind in enumerate(u2(translator, 0,1))])

u1 = pd.DataFrame([gate_template(ind, symbol=g2(c,ind), param_value=f(c,ind,1)) for c,ind in enumerate(u2(translator, 0,1))])

In [346]:
cc_db = concatenate_dbs([u1, u0])

    ind symbol param_value  trainable  block_id
0     2   th_0        None       True         0
1     4   th_1        None       True         0
2     2   th_2        None       True         0
3     3   th_3        None       True         0
4     5   th_4        None       True         0
5     3   th_5        None       True         0
6     0   None        None       True         0
7     2   th_7        None       True         0
8     7   th_8        None       True         0
9     1   None        None       True         0
10    7  th_10        None       True         0
11    0   None        None       True         0
12    2  th_12        None       True         0
13    4  th_13        None       True         0
14    2  th_14        None       True         0
15    3  th_15        None       True         0
16    5  th_16        None       True         0
17    3  th_17        None       True         0
18    2  th_18        None       True         0
19    4  th_19        None       True         0
20    2  th_20        None       True         0
21    3  th_21        None       True         0
22    5  th_22        None       True         0
23    3  th_23        None       True         0
24    0   None        None       True         0
25    2  th_25        None       True         0
26    7  th_26        None       True         0
27    1   None        None       True         0
28    7  th_28        None       True         0
29    0   None        None       True         0
30    2  th_30        None       True         0
31    4  th_31        None       True         0
32    2  th_32        None       True         0
33    3  th_33        None       True         0
34    5  th_34        None       True         0
35    3  th_35        None       True         0

In [224]:
ppp = ddd.reset_index()

In [226]:
ppp.head(10)

   index  ind symbol  param_value  trainable  block_id
0    0.0    2   th_0    -2.310226       True         0
1    1.0    4   th_1     4.280867       True         0
2    2.0    2   th_2     3.813452       True         0
3    3.0    3   th_3     5.560420       True         0
4    4.0    5   th_4     3.374498       True         0
5    5.0    3   th_5    -1.305994       True         0
6    5.5    0   None    -5.824937       True         0
7    6.0    2   th_6    11.130716       True         0
8    7.0    7   th_7     9.676837       True         0
9    8.0    7   th_8    -1.446106       True         0

In [139]:
ppp = pd.concat([circuit_db_symbols_sorted, circuit_nan_symbol],ignore_index=True)
ppp.head(10)

   ind symbol  param_value  trainable  block_id
0    2   th_0     0.498606       True         0
1    4   th_1     4.038409       True         0
2    2   th_2     6.070638       True         0
3    3   th_3   -12.122001       True         0
4    5   th_4     1.229589       True         0
5    3   th_5     1.067343       True         0
6    2   th_6   -15.134148       True         0
7    7   th_7     2.608105       True         0
8    7   th_8    -0.917040       True         0
9    2   th_9     0.049631       True         0

In [84]:
circuit_symbols_none = circuit_db[circuit_db["symbol"].isna()]

In [102]:

def replace(x):
    global c
    if x is None:
        xx = c
    else:
        xx = c + int(x.replace("th_",""))
    c+=1
    return xx

In [103]:
global c
c = 0
circuit_db["symbol"].apply(replace).head(10)

0    0.0
1    1.0
2    2.0
3    3.0
4    4.0
5    5.0
6    0.5
7    6.0
8    7.0
9    0.5
Name: symbol, dtype: float64

In [86]:
circuit_symbols_none

    ind symbol  param_value  trainable  block_id
6     0   None     2.289146       True         0
9     1   None    13.293259       True         0
11    0   None     9.710229       True         0
24    1   None    -9.682051       True         0
27    0   None     1.172136       True         0
29    1   None     3.916419       True         0
42    0   None     2.132334       True         0
45    1   None   -10.293011       True         0
47    0   None    -0.550870       True         0
60    1   None     9.852893       True         0
63    0   None   -17.628704       True         0
65    1   None    -3.318076       True         0

In [63]:


#make_symbol = lambda x: "th_{}".format(x)

In [64]:
circuit_db["symbol_int"] = circuit_db["symbol"].apply(replace)

In [73]:
circuit_db_nan = circuit_db[circuit_db["symbol"].isna()]

In [74]:
circuit_db_symbols_sorted = circuit_db.loc[circuit_db["symbol_int"].dropna().index].sort_values("symbol_int")

In [76]:
circuit_db_symbols_sorted

    ind symbol  param_value  trainable  block_id  symbol_int
0     2   th_0    -1.860606       True         0         0.0
1     4   th_1     4.602738       True         0         1.0
2     2   th_2    -0.203144       True         0         2.0
3     3   th_3    -2.383497       True         0         3.0
4     5   th_4     1.402382       True         0         4.0
5     3   th_5   -12.918605       True         0         5.0
7     2   th_6     1.842675       True         0         6.0
8     7   th_7     1.011437       True         0         7.0
10    7   th_8    -1.905560       True         0         8.0
12    2   th_9   -10.762938       True         0         9.0
13    4  th_10    -7.687956       True         0        10.0
14    2  th_11     3.283018       True         0        11.0
15    3  th_12    -8.866185       True         0        12.0
16    5  th_13    -3.387183       True         0        13.0
17    3  th_14    -1.129315       True         0        14.0
18    3  th_15     6.443665       True         0        15.0
19    5  th_16   -10.644582       True         0        16.0
20    3  th_17    10.124566       True         0        17.0
21    2  th_18    -3.348332       True         0        18.0
22    4  th_19    14.426656       True         0        19.0
23    2  th_20     4.120449       True         0        20.0
25    3  th_21     0.080656       True         0        21.0
26    6  th_22     0.759553       True         0        22.0
28    6  th_23    -3.601957       True         0        23.0
30    3  th_24    -1.123199       True         0        24.0
31    5  th_25     0.088420       True         0        25.0
32    3  th_26   -10.833485       True         0        26.0
33    2  th_27    -0.388997       True         0        27.0
34    4  th_28    -0.809630       True         0        28.0
35    2  th_29     5.502216       True         0        29.0
36    2  th_30     3.152487       True         0        30.0
37    4  th_31     3.628639       True         0        31.0
38    2  th_32    -5.298617       True         0        32.0
39    3  th_33    -4.008584       True         0        33.0
40    5  th_34    -5.076271       True         0        34.0
41    3  th_35     8.465285       True         0        35.0
43    2  th_36    -8.196001       True         0        36.0
44    7  th_37   -10.902040       True         0        37.0
46    7  th_38    -1.103794       True         0        38.0
48    2  th_39     4.398208       True         0        39.0
49    4  th_40     6.898065       True         0        40.0
50    2  th_41     0.523241       True         0        41.0
51    3  th_42    -5.657391       True         0        42.0
52    5  th_43     8.906855       True         0        43.0
53    3  th_44     8.069453       True         0        44.0
54    3  th_45     0.477210       True         0        45.0
55    5  th_46    -3.174836       True         0        46.0
56    3  th_47    -2.256903       True         0        47.0
57    2  th_48     7.245068       True         0        48.0
58    4  th_49     1.249786       True         0        49.0
59    2  th_50    -2.453348       True         0        50.0
61    3  th_51     3.796648       True         0        51.0
62    6  th_52     1.358836       True         0        52.0
64    6  th_53    -4.784568       True         0        53.0
66    3  th_54    -4.082365       True         0        54.0
67    5  th_55     2.109006       True         0        55.0
68    3  th_56    -4.109071       True         0        56.0
69    2  th_57    -1.715725       True         0        57.0
70    4  th_58    -0.816990       True         0        58.0
71    2  th_59     0.898183       True         0        59.0

In [75]:
pd.concat([circuit_db_nan, circuit_db_symbols_sorted]).sor

    ind symbol  param_value  trainable  block_id  symbol_int
6     0   None    -1.400466       True         0         NaN
9     1   None    -6.141079       True         0         NaN
11    0   None     5.587951       True         0         NaN
24    1   None    -5.982734       True         0         NaN
27    0   None    -1.048220       True         0         NaN
..  ...    ...          ...        ...       ...         ...
67    5  th_55     2.109006       True         0        55.0
68    3  th_56    -4.109071       True         0        56.0
69    2  th_57    -1.715725       True         0        57.0
70    4  th_58    -0.816990       True         0        58.0
71    2  th_59     0.898183       True         0        59.0

[72 rows x 6 columns]

In [35]:
cs = circuit_db.loc[circuit_db["symbol"].index]

In [29]:
cs["symbol_number"] = cs["symbol"].apply(replace)

In [30]:
cs.sort_values(by="symbol_number")

    ind symbol  param_value  trainable  block_id  symbol_number
0     2   th_0     5.279503       True         0              0
1     4   th_1    -4.980139       True         0              1
2     2   th_2     3.115987       True         0              2
3     3   th_3    -4.142399       True         0              3
4     5   th_4    -4.857117       True         0              4
5     3   th_5    -0.244550       True         0              5
7     2   th_6     5.465472       True         0              6
8     7   th_7     5.507746       True         0              7
10    7   th_8     3.341322       True         0              8
12    2   th_9     5.322558       True         0              9
13    4  th_10    -6.921280       True         0             10
14    2  th_11    -4.087709       True         0             11
15    3  th_12    -6.202481       True         0             12
16    5  th_13     3.908042       True         0             13
17    3  th_14     7.597247       True         0             14
18    3  th_15     5.475756       True         0             15
19    5  th_16    -9.514162       True         0             16
20    3  th_17    10.073240       True         0             17
21    2  th_18    -1.428239       True         0             18
22    4  th_19    -5.622691       True         0             19
23    2  th_20     4.528454       True         0             20
25    3  th_21     4.970967       True         0             21
26    6  th_22    12.192768       True         0             22
28    6  th_23    -3.278074       True         0             23
30    3  th_24     0.264920       True         0             24
31    5  th_25    -5.894208       True         0             25
32    3  th_26     2.669716       True         0             26
33    2  th_27     3.423080       True         0             27
34    4  th_28     7.211423       True         0             28
35    2  th_29     1.310248       True         0             29
36    2  th_30   -10.149716       True         0             30
37    4  th_31     2.590924       True         0             31
38    2  th_32    -0.077667       True         0             32
39    3  th_33    -6.661519       True         0             33
40    5  th_34    -3.923208       True         0             34
41    3  th_35    -1.164025       True         0             35
43    2  th_36    -3.827018       True         0             36
44    7  th_37    12.604973       True         0             37
46    7  th_38    -2.974646       True         0             38
48    2  th_39    -1.361354       True         0             39
49    4  th_40     7.650785       True         0             40
50    2  th_41    -9.811113       True         0             41
51    3  th_42     7.091347       True         0             42
52    5  th_43     1.175552       True         0             43
53    3  th_44     5.859556       True         0             44
54    3  th_45     2.971159       True         0             45
55    5  th_46     0.170718       True         0             46
56    3  th_47     2.236876       True         0             47
57    2  th_48     3.690760       True         0             48
58    4  th_49   -11.506739       True         0             49
59    2  th_50    -6.048810       True         0             50
61    3  th_51    -1.583205       True         0             51
62    6  th_52     2.652604       True         0             52
64    6  th_53    -3.712677       True         0             53
66    3  th_54     6.777619       True         0             54
67    5  th_55     1.356043       True         0             55
68    3  th_56    -6.934486       True         0             56
69    2  th_57     2.045497       True         0             57
70    4  th_58    11.424750       True         0             58
71    2  th_59     4.276060       True         0             59

In [17]:
circuit_db.loc[circuit_db["symbol"].dropna().index] = cdbsym.apply(replace)

0      0
1      1
2      2
3      3
4      4
5      5
7      6
8      7
10     8
12     9
13    10
14    11
15    12
16    13
17    14
18    15
19    16
20    17
21    18
22    19
23    20
25    21
26    22
28    23
30    24
31    25
32    26
33    27
34    28
35    29
36    30
37    31
38    32
39    33
40    34
41    35
43    36
44    37
46    38
48    39
49    40
50    41
51    42
52    43
53    44
54    45
55    46
56    47
57    48
58    49
59    50
61    51
62    52
64    53
66    54
67    55
68    56
69    57
70    58
71    59
Name: symbol, dtype: object

In [21]:
ss = pd.DataFrame([{"symbol":None},{"symbol":2}])

In [23]:
ss["symbol"].dropna()

1    2.0
Name: symbol, dtype: float64